body {
    background: white;
}

.modal-content {
    margin: 0px;
    position: absolute;
    width: 600px;
    height: 450px;
    left: 420px;
    top: 287px;

    background: #F2FCFF;
    border: 2px solid #C3F1FF;
    box-sizing: border-box;
    border-radius: 30px;
}

.btnLogin {
    position: absolute;
    left: 10%;
    right: 10%;

    bottom: 0%;

    background: #5AD2AE;
    border: 1px solid #469F85;
    box-sizing: border-box;
    border-radius: 39.5px;
}

h1 {
    margin: 0px;
    margin-top: 15px;
    align-items: center;
    justify-content: center;
    height: 80px;
    top: 116px;
    display: flex;
    color: #5AD2AE;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 42px;
    line-height: 49px;

    color: #5AD2AE;
}

.form-control {

/*position: absolute;*/
left: 0px ;
right: 0px ;
top: 0px ;
bottom: 15%;
margin: 0px auto;
background: #FFFFFF;
border: 1px solid #C3F1FF;
box-sizing: border-box;
border-radius: 39.5px;
}

input{

    width: 500px;
height: 80px;
left: 470px;
top: 410px;
}