body {
    margin: 0px;
    position: absolute;
    width: 608px;
    height: 946px;
    left: calc(50% - 608px/2);
    top: 78px;
    background: #F2FCFF;
    border: 2px solid #C3F1FF;
    border-radius: 30px;
}

h1 {
    margin: 0px;
    margin-top: 15px;
    align-items: center;
    justify-content: center;
    height: 80px;
    font-family: Roboto;
    top: 116px;
    font-size: 48px;
    display: flex;
    color: #5AD2AE;
}

aside {
    display: grid;
}

section {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    margin-right: 20px;
    margin-left: 20px;
}

article {
    display: grid;
    width: 140px;
    height: 140px;
    left: 463px;
    top: 206px;
    margin: 15px auto;

    background: #5AD2AE;
    border: 1px solid #469F85;
    box-sizing: border-box;
    border-radius: 20px;
}

img {

    max-width: 15;
    width: 90px;
    margin: 15px auto;
    margin-bottom: 1px;
    border-radius: 45px;
}

p {
    margin: 0px auto;
    color: lavender;
    font-family: Roboto;
}